@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 274, 245, 165;
  --background-end-rgb: 274, 245, 165;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofINeaBTMnFcQ.woff2') format('woff2');
}
@font-face {
  font-family: 'FinkHeavy';
  src: url('../../public/FinkHeavyRegular.ttf');
}

.image-filled-text {
  background: url('../../public/wood.jpeg') no-repeat center center;
  -webkit-background-clip: text;
  color: transparent;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor; /* The color of the triangle */
  display: inline-block;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid currentColor; /* The color of the triangle */
  display: inline-block;
}

.scrollbar-thin {
  scrollbar-width: thin; /* For Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px; /* For WebKit browsers */
  height: 5px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-gray-100; /* Tailwind utility class */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-gray-200 hover:bg-gray-400; /* Tailwind utility classes */
}


.select-custom {
  -webkit-appearance: none; /* For Safari and other WebKit-based browsers */
  -moz-appearance: none;    /* For Firefox */
  appearance: none;         /* Standard syntax */

}

